<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    {% block css %}
    <link rel="stylesheet" href="{% static 'product/css/normilize.css'%}">
    <link rel="stylesheet" href="{% static 'product/css/products.css'%}">
    <link rel="stylesheet" href="{% static 'product/css/lk_total.css'%}">
    <link rel="stylesheet" href="{% static 'product/css/traid.css'%}">
    {% endblock %}
    <title>{% block title %} мой сайт {% endblock%}</title>
</head>
<body>
        <header class="header">
        <div class="container">
            <div class="header_wraper">
                <a href="#" class="logo_link">
                    <img  class="logo_img" src="{% static 'product/img/scrum_logo.png' %}" alt="logo">
                </a>
                <div class="datetime">22.03.2022</div>
                <div class="user_block">
                    <a href="#" class="user_name js_user">{{user.username}}</a>
                    <a href="{% url 'logOut'%}" class="btn_exit">выход</a>
                </div>
            </div>
        </div>
    </header>
    {% block content %}




    {% endblock %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'search/js/search.js'%}"></script>
</body>
</html>