{% extends 'product/base.html' %}
{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static 'product/css/normilize.css'%}">
<link rel="stylesheet" href="{% static 'product/css/products.css'%}">
<link rel="stylesheet" href="{% static 'product/css/lk_total.css'%}">
<link rel="stylesheet" href="{% static 'product/css/traid.css'%}">
<link rel="stylesheet" href="{% static './contacts/css/contacts.css'%}">

{% endblock %}

{% block title %}контакты{% endblock %}
{% block content %}
<main>
    <div class="container">
        <div class="popup_inner">
            <div class="popup_del_client" style="z-index: 15;">
                <div class="popup_search_btn">

                </div>
                <h3 class="popup__title">Поиск контактов</h3>
                <ul class="link__block">
                    <li class="link__item"><a href="{% url 'searchAll' %}" class="link__link">все</a></li>
                    <li class="link__item"><a href="#" class="link__link js_org">по организации</a></li>
                    <li class="link__item"><a href="#" class="link__link js_tel">по номеру телефона</a></li>
                    <li class="link__item"><a href="#" class="link__link js_face">по контактному лицу</a></li>
                    <li class="link__item"><a href="#" class="link__link">по ИНН</a></li>
                </ul>
                <div class="search_orgaiz">
                    <h3 class="popup__title">по организациям</h3>
                    <form action="{% url 'search_org'  %}" method="get">
                        <label>
                            <input name="search" type="text" placeholder="организация...">
                        </label>
                        <input type="submit" value="поиск">
                    </form>
                </div>
                <div class="search_tel">
                    <h3 class="popup__title">по телефону</h3>
                    <form action="{% url 'search_tel'  %}" method="get">
                        <label>
                            <input name="search" type="text" placeholder="телефон..." id="search_tel">
                        </label>
                        <input type="submit" value="поиск">
                    </form>
                </div>
                <div class="search_contact_face">
                    <h3 class="popup__title">по контактному лицу</h3>
                    <form action="{% url 'search_face'  %}" method="get">
                        <label>
                            <input name="search" type="text" placeholder="имя человека...">
                        </label>
                        <input type="submit" value="поиск">
                    </form>
                </div>
            </div>
        </div>
        <div class="new__contact">
            <form method="post" class="new__contact_form">
                {% csrf_token %}
                <div class="add__form_close js_new__contact_close">
                    <span></span>
                    <span></span>
                </div>
                {% for field in client_form %}
                    <div class="add__form_block">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="form_btn" id="js_contact_btn">создать</button>
            </form>

        </div>
        <div class="menu__header">
            <ul class="menu__list row">
                <li class="menu__item"><a href="{% url 'cabinet' %}" class="menu__link">кабинет</a></li>
                <li class="menu__item"><a href="{% url 'contacts'%}" class="menu__link">задачи</a></li>
                <li class="menu__item"><a href="{% url 'traids' %}" class="menu__link">сделки</a></li>
                <li class="menu__item"><a href="{% url 'product'%}" class="menu__link">документы</a></li>
                <li class="menu__item"><a href="#" class="menu__link js_contact_search">поиск</a></li>
                <li class="menu__item"><a href="#" class="menu__link js_new_client">новый клиент</a></li>
            </ul>
        </div>
        <h3 class="title__contact">клиенты</h3>
        <div class="contact__table">
            {% if client_form.errors %}
             <div class="form_errors">
                <div class="form_errors_inner">
                    <div class="form_errors_close_btn">
                        <span></span>
                        <span></span>
                    </div>
                    <p>ошибка</p>
                    <p>сохранение не возможно</p>
                </div>
            </div>
            {% endif %}
            {% if clients %}
            <table border="1">
                <tr>
                    <td bgcolor="#D3EDF6" align="center">наименоваие</td>
                    <td bgcolor="#D3EDF6" align="center">телефон</td>
                    <td bgcolor="#D3EDF6" align="center">почта</td>
                    <td bgcolor="#D3EDF6" align="center">ИНН</td>
                    <td bgcolor="#D3EDF6" align="center">юр. адрес</td>
                    <td bgcolor="#D3EDF6" align="center">фак. адрес</td>
                    <td bgcolor="#D3EDF6" align="center">контактное лицо</td>
                    <td bgcolor="#D3EDF6" align="center">комментарий</td>
                </tr>

                {% for client in clients %}
                <tr>
                    <td class="js_name" data-title="изменить или удалить"><a href="{% url 'client' client.id %}">{{client.name}}</a></td>
                    <td>
                        <a href="tel:{{client.phone}}"><p>{{client.phone}}</p></a>
                        <a href="tel:{{client.phone2}}"><p>{{client.phone2}}</p></a>
                        <a href="tel:{{client.phone3}}"><p>{{client.phone3}}</p></a>
                    </td>
                    <td><a href="mailto:{{client.mail}}">{{client.mail}}</a></td>
                    <td class="form_adress">{{client.inn}}</td>
                    <td class="form_adress">{{client.ur_adress}}</td>
                    <td class="form_adress">{{client.fac_adress}}</td>
                    <td>{{client.contact_face}}</td>
                    <td class="form_comment">{{client.comment}}</td>
                </tr>
                {% endfor %}
                {% else %}
                <p>{{message}}</p>
                {% endif%}

            </table>
        </div>
    </div>
</main>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'contacts/js/inputmask.min.js'%}"></script>
<script type="text/javascript" src="{% static 'contacts/js/just-validate.min.js'%}"></script>
<script type="text/javascript" src="{% static 'contacts/js/contacts.js'%}"></script>
<script type="text/javascript" src="{% static 'contacts/js/valid.js'%}"></script>
{%endblock%}
