<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    {% block css %}
    <link rel="stylesheet" href="{% static 'product/css/normilize.css'%}">
    <link rel="stylesheet" href="{% static 'product/css/products.css'%}">
    <link rel="stylesheet" href="{% static 'product/css/contacts.css'%}">
    <link rel="stylesheet" href="{% static 'product/css/lk_segun.css'%}">
    <link rel="stylesheet" href="{% static 'product/css/lk_total.css'%}">
    <link rel="stylesheet" href="{% static 'product/css/sing_in.css'%}">
    <link rel="stylesheet" href="{% static 'product/css/traid.css'%}">
    {% endblock %}
    <title>{% block title %} мой сайт {% endblock%}</title>
</head>
<body>
        <header class="header">
        <div class="container">
            <div class="header_wraper">
                <a href="#" class="logo_link">
                    <img  class="logo_img" src="{% static 'product/img/scrum_logo.png' %}" alt="logo">
                </a>
                <div class="datetime">22.03.2022</div>
                <div class="user_block">
                    <p class="user_name">Стрельников Константин</p>
                    <a href="#" class="btn_exit">выход</a>
                </div>
            </div>
        </div>
    </header>
    {% block content %}




    {% endblock %}


</body>
</html>