{% extends 'product/base.html' %}

{% block title%}Документы по перечням продуктов{% endblock%}

{% block content%}

        <div class="container">
            <div class="main__menu">
                <ul class="menu__list">
                    <li class="menu__item"><a href="{% url 'cabinet' %}" class="menu__link">кабинет</a></li>
                    <li class="menu__item"><a href="{% url 'contacts'%}" class="menu__link">клиенты</a></li>
                    <li class="menu__item"><a href="lk_segun.html" class="menu__link">сделки</a></li>
                    <li class="menu__item"><a href="lk_segun.html" class="menu__link">задачи</a></li>
                </ul>
            </div>
            <h3 class="form_title">документы - перечень продукции</h3>
            <div class="products">
                {% for a in list_product %}
                <div class="products__block">
                    <a href="{% url 'group' a.id %}" class="products__link">{{a}}</a>
                </div>
                {% endfor %}
            </div>
        </div>



{% endblock%}